<style>
    .avatar {
        width: 140px;
        height: 140px;
        border-radius: 100px;
        border: 3px solid #ADC133;
    }
</style>



<ion-view view-title="Avatar">
    <ion-content scroll="true">

        <div class="row">
            <div class="col" style="text-align:center;">
                <img class="avatar" src="img/avatares/hombre1.png"/>
            </div>
            <div class="col" style="text-align:center;">
                <img class="avatar" src="img/avatares/hombre2.png"/>
            </div>
            
        </div>
        <div class="row">
            <div class="col" style="text-align:center;">
                <img class="avatar" src="img/avatares/hombre3.png" />
            </div>
            <div class="col" style="text-align:center;">
                <img class="avatar" src="img/avatares/hombre4.png" />
            </div>
        </div>
        <div class="row">           
            <div class="col" style="text-align:center;">
                <img class="avatar" src="img/avatares/mujer1.png" />
            </div>
            <div class="col" style="text-align:center;">
                <img class="avatar" src="img/avatares/mujer2.png" />
            </div>
        </div>

        <div class="row">
            <div class="col" style="text-align:center;">
                <img class="avatar" src="img/avatares/mujer3.png" />
            </div>
            <div class="col" style="text-align:center;">
                <img class="avatar" src="img/avatares/mujer4.png" />
            </div>
      
        </div>
        <div class="row">

            <div class="col col-50 col-offset-25">
                <button class="button button-block btnGreen-big" on-tap="ok()">
                    Aceptar
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
