<style>
    .avatar {
        width: 80px;
        height: 80px;
        border-radius: 100px;
        border: 2px solid #ADC133;
    }
    .row {
        padding:0px !important;
     
    }
</style>

<ion-view view-title="">
    <ion-content>


        <div class="row">
            <div class="col col-25" style="text-align:center;">
                <img class="avatar" src="img/avatares/hombre1.png" />
            </div>
            <div class="col col-75">
                <div class="row">
                    <div class="col"><p style="font-size:22px;">JuanA</p></div>
                    <div class="col"><p style="text-align:right;">16:04</p></div>

                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col col-25" style="text-align:center;">
                <img class="avatar" src="img/avatares/mujer2.png" />
            </div>
            <div class="col col-75">
                <div class="row">
                    <div class="col"><p style="font-size:22px;">Camila55</p></div>
                    <div class="col"><p style="text-align:right;">16:06</p></div>

                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col col-25" style="text-align:center;">
                <img class="avatar" src="img/avatares/hombre1.png" />
            </div>
            <div class="col col-75">
                <div class="row">
                    <div class="col"><p style="font-size:22px;">JuanA</p></div>
                    <div class="col"><p style="text-align:right;">16:10</p></div>

                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col col-25" style="text-align:center;">
                <img class="avatar" src="img/avatares/mujer2.png" />
            </div>
            <div class="col col-75">
                <div class="row">
                    <div class="col"><p style="font-size:22px;">Camila55</p></div>
                    <div class="col"><p style="text-align:right;">16:17</p></div>

                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col">
                <textarea placeholder="Escribe un mensaje.." style="width:100%; border: 2px solid #ADC133;"></textarea>
            </div>
        </div>
        <div class="row" style="background-color:#eee;">
            <div class="col">
                <img src="img/icons/icono_emotic.png"/>
            </div>
            <div class="col">
                <img src="img/icons/icono_img.png"/>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block btnGreen-big" on-tap="">
                    Cambiar de sala
                </button>
            </div>
           
        </div>

    </ion-content>
</ion-view>
