<ion-view view-title="Ajustes" right-buttons="rightButtons">
    <ion-content scroll="false">
        <div style="margin-top:50px;">
            <ul class="list">

                <li class="item item-toggle">
                    Desactivar notificaciones
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <li class="item item-toggle">
                    Desactivar chat
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>



            </ul>
        </div>
        <div class="row">
            <div class="col col-60 col-offset-20">
                <button class="button button-block btnGreen-big" on-tap="">
                    Borrar historial
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
