<ion-view view-title="FAQ">
    <ion-content>
        <div style="margin-left:10px; margin-right:10px;">
            <p style="text-align:center; font-size:16px; margin-top:50px; color:#ADC133;">Lorem ipsum dolor sit amet, consectetur</p>
            <p style="text-align:justify; font-size:16px;">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

            <p style="text-align:center; font-size:16px; margin-top:50px; color:#ADC133;">Lorem ipsum dolor sit amet, consectetur</p>
            <p style="text-align:justify; font-size:16px;">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

            <p style="text-align:center; font-size:16px; margin-top:50px; color:#ADC133;">Lorem ipsum dolor sit amet, consectetur</p>
            <p style="text-align:justify; font-size:16px;">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

            <p style="text-align:center; font-size:16px; margin-top:50px; color:#ADC133;">Lorem ipsum dolor sit amet, consectetur</p>
            <p style="text-align:justify; font-size:16px;">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

        </div>



    </ion-content>
</ion-view>
